{
    "printWidth": 140,
    "proseWrap": "preserve",
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "auto",
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "insertPragma": false,
    "requirePragma": false,
    "json": {
        "insertFinalNewline": false
    }
}